.window {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.window-content {
  width: 500px;
	padding: 20px;
  top: 50%;
  left: 50%;
  position: absolute;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: #800020;;
  border-radius: 20px;
  border: 2px solid orange;
  display: flex;
  flex-direction: column;
	align-items: center;
	gap: 20px;

	&__button {
    outline: none;
    font-size: 16px;
    width: 70%;
    height: 40px;
    background: orange;
    color: black;
    border: 2px solid #181a1c;
    border-radius: 16px;
    margin: 0px;
    font-weight: 700;
	}

  &__button:hover {
    cursor: pointer;
  }
  &__button:active {
    transform: scale(1.02);
    cursor: pointer;
  }
  
  &__success-message{
    color: white;
    font-size: 25px;
    border-radius: 20px;
    border: 2px solid orange;
    padding: 10px;
  }
}

.personal-wraper,
.card-wraper {
  background-color: #181a1c;
  position: relative;
	width: 100%;
  display: flex;
  flex-direction: column;
	align-items: center;
	justify-content: center;
  gap: 10px;
  border-radius: 20px;
  border: 2px solid orange;
  color: orange;
  font-size: 24px;

  &__item {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
  }


  &__image {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 40px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid orange;
  }

  &__span {
    font-size: 12px;
  }

  &__name,
  &__phone,
  &__address,
  &__email,
	&__number,
	&__valid,
	&__cvv {
		width: 80%;
    margin-left: 30px;
    font-size: 16px;
    border: 2px solid orange;
    border-radius: 16px;
    background-color: #181a1c;
    color: beige;
    padding: 2px;
    text-align: center;
  }

  &__name::placeholder,
  &__phone::placeholder,
  &__address::placeholder,
  &__email::placeholder,
	&__number::placeholder,
	&__valid::placeholder,
	&__cvv::placeholder {
    color: beige;
    text-align: center;
    font-size: 12px;
    opacity: 0.3;
  }

  &__name:focus:valid,
  &__phone:focus:valid,
  &__address:focus:valid,
  &__email:focus:valid,
	&__number:focus:valid,
	&__valid:focus:valid,
	&__cvv:focus:valid {
    border: 2px solid green;
  }

  &__name:focus:invalid,
  &__phone:focus:invalid,
  &__address:focus:invalid,
  &__email:focus:invalid,
	&__number:focus:invalid,
	&__valid:focus:invalid,
	&__cvv:focus:invalid {
    border: 2px solid red;
  }
}



.hint-ok {
  color: green;
}

.hint-error {
  color: red;
}


:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}
