#product {
  display: flex;
}

.filter {
  align-self: flex-start;
  width: 20%;
  display: flex;
  flex-direction: column;
  border: 2px solid blue;
  &__header {
    background-color: aqua;
    display: flex;
    justify-content: space-between;
  
  }
  &__button {
    background-color: antiquewhite;
    padding: 1%;
    margin: 2%;
    width: 40%;
    color: beige;
    font-size: 20px;
    background: rgb(110, 38, 38);
    cursor: pointer;
  }
}

.filter-block {
  height: 200px;
}

.filter-block,
.filter-block-range {
  background-color: rgb(89, 3, 3);
  border: 2px solid orange;
  border-radius: 15px;
  
  overflow-y: scroll;
  position: relative;
  margin-top: 5%;

  input[type=checkbox] {
    cursor: pointer;
  }
  
  &__header {
    color: antiquewhite;
    text-align: center;
    background-color: rgb(37, 4, 4, 0.6);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: sticky;
    top: 0;
    left: 0;
    
  }

  &__content {
    display: flex;
    flex-direction: column;
  }
  &__label {
   //display: flex;
    color: rgb(245, 245, 10);
    cursor: pointer;
    padding-top: 3px;
    font-size: 20px;

   //flex-direction: column;
  }

  &__label_disabled {
    color: grey;
  }

  &__block {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
  }

  &__slider  {
    position: relative;
    min-height: 50px;
  }

  &__value {
    color: beige;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
  }


  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #C6C6C6;
    cursor: pointer;
  }
  
  input[type=range]::-moz-range-thumb {
    appearance: none;
    -webkit-appearance: none;
    pointer-events: all;
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #C6C6C6;
    cursor: pointer;  
  }
  
  input[type=range]::-webkit-slider-thumb:hover {
    background: #f7f7f7;
  }
  
  input[type=range]::-webkit-slider-thumb:active {
    box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
    -webkit-box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
  }

  input[type=range] {
    -webkit-appearance: none; 
    appearance: none;
    height: 4px;
    margin-top: 12%;
    width: 100%;
    position: absolute;
    background-color: #C6C6C6;
    pointer-events: none;
  }
  
  #fromSlider {
    height: 0;
    z-index: 1;
  }
}

.catalog {
  width: 80%;
  border: 2px solid blue;
  &__header {
    background-color: green;
    display: flex;
    justify-content: space-between;
  }
  &__block {
    background-color: rgb(78, 78, 3);
    min-height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    
  }

  &__empty {
    display: none;
  }

  &__empty_view {
    display: flex;
    margin: 0 auto;
    text-align: center;
    font-size: 46px;
    padding-top: 6%;
    color: rgb(206, 129, 27);
  }
  &__sort {
    height: 100%;
    vertical-align: middle;
    margin-left: 1%;
    //margin: 20% 0 20% 2%; 
    //margin-top: 5%;
  }

  &__found {
    color: bisque;
    margin: 0;
  }

  &__search {
    height: 100%;
  }

  &__choose-viev {
    text-align: center;
    display: flex;
    margin-right: 1%;
    color: bisque;
  }

  &__var-view {
    border: 1px solid bisque;
    margin-right: 1%;
    border-radius: 6px;
    cursor: pointer;
  }

  &__var-view-active {
    background-color: rgb(46, 75, 3);
  }

  &__sort,
  &__found,
  &__search,
  &__choose-viev {
    margin-top: 1%;
    margin-bottom: 1%;
  }
}

.card {
  width: 24%;
  min-height: 225px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: 2px solid rgb(0, 255, 234);
  border-radius: 10px;
  margin: 0 0.5% 1%;
  //margin-bottom: 1%;
  cursor: pointer;
  //margin-bottom: 1%;
  //padding: 1%;
  //height: 150px;
  &__title{
    background-color: rgb(63, 59, 59, 80%);
    color: Orange;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  &__description {
    width: 50%;
    background-color: rgb(63, 59, 59, 80%);
    border-radius: 5px;

  }
  p {
    color: orange;
    margin: 0;
  }

  span {
    color: white;
  }
  &__button {
background-color: rgba(11, 11, 3, 0.6);
padding: 3%;
margin-top: 3%;
margin-bottom: 2%;
margin-right: 5%;
margin-left: 5%;
color: bisque;
width: 40%;
border-radius: 5px;
cursor: pointer;
  }
}

.card-none, .card-none-filter, .card-none-filter1, .card_none-price,
.card_none-price1,
.card-none-stock, .card-none-stock1 {
  display: none;
}


