*,
*::before,
*::after {
  box-sizing: border-box;
}
.header {
  display: flex;
  justify-content: flex-start;
  a {
    padding-right: 3%;
  }
}

.footer {
  position: absolute;
  top: 100vh;
  bottom: 0;
}