*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}
.header {
  display: flex;
  justify-content: flex-start;
  min-height: 5vh;
  a {
    padding-right: 3%;
  }
}
main {
  min-height: 90vh;
}

.footer {
  // position: absolute;
  // top: 100vh;
  // bottom: 0;
  order: 3;
  min-height: 5vh;
}