body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 16px;
  color: beige;
  margin: 0;
}

*,
*::before, 
*::after {
  box-sizing: border-box;
}



h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  min-height: 5vh;
  background: rgb(58, 3, 3);
  color: beige;

  h1 {
    
    padding: 1% 0 1% 3%;
    width: 30%;
    //width: 500px;
  }
  &__logo {
    font-size: 42px;
    color: beige;
    width: 100%;
    display: inline;
  }

  &__price {
    font-size: 24px;
    padding: 2% 0 1% 3%;
    vertical-align: middle;
  }
  &__price-result {
    font-size: 26px;
    color: yellow;
  }

  &__basket {
    display: block;
    font-size: 60px;
    margin: 0.5% 2% 1% 3%;
    position: relative;
  }

  &__basket-count {
    display: block;
    position: absolute;
    font-size: 18px;
    //line-height: 170%;
    color: rgb(247, 247, 6);
    bottom: -12%;
    right: 40%;
    z-index: 1;
    width: 48px;
    height: 48px;
    background-color: rgb(5, 201, 159);
    text-align: center;
    padding: 8% 0;
  
    border: 2px solid blueviolet;
    border-radius: 24px;
  }

  a {
    padding-right: 3%;
    text-decoration: none;
    cursor: pointer;
  }
}
main {
  min-height: 90vh;
}

.footer {
  
  order: 3;
  min-height: 5vh;
  font-size: 28px;
  background-color: rgb(58, 3, 3);
  color: bisque;
  display: flex;
  justify-content: space-between;

  &__author {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 1% 2%;
  }

  &__text {
    text-decoration: none;
    color: bisque;
    
  }

  &__date {
    padding: 2% 0;
  }

  &__logo {
    padding: 1% 2%;
  }

  &__text, &__logo svg {
    transition: all .4s linear;
  }

  &__text:hover, &__logo svg:hover {
    color: rgb(188, 111, 16);
    fill: rgb(188, 111, 16);
  }

  &__logo svg{
    height: 60px;
    fill: bisque;
    padding: 2% 2%;
  }

  &__logo svg .st5 {
    fill: rgb(4, 54, 54);
  }
}