.description-page {
  width: 90%;
  border-radius: 20px;
  // border: 2px solid orange;
  padding: 10px;

  &__routes {
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    border: 2px solid orange;
    background-color: #181a1c;
    margin-bottom: 10px;
    padding: 20px;
  }

  &__route {
    font-size: 16px;
  }
}

.description-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  border: 2px solid orange;
  padding: 10px;
  gap: 10px;

  &__photo-wraper {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    gap: 20px;
    border-radius: 20px;
  }

  &__photo-miniwraper {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
  }

  &__main-photo {
		width: 70%;
    border-radius: 20px;
    border: 2px solid orange;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__mini-photo {
		width: 100%;
    height: 50%;
    border-radius: 20px;
    border: 2px solid orange;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: clip;
  }

	&__mini-photo:hover {
		cursor: pointer;
	}

  &__table {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  &__table-title {
    color: orange;
    padding: 10px;
    background-color: #181a1c;
    font-size: 24px;
    text-align: center;
    border-radius: 16px;
    border: 2px solid orange;
    margin-bottom: 5px;
  }

  &__cell {
		width: 100%;
    display: flex;
    // gap: 5px;
    flex-direction: column;
    border-radius: 16px;
    border: 2px solid orange;
    overflow: hidden;
  }

  &__cell-title {
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin: 0px;

    background-color: #181a1c;
    color: orange;
  }

  &__cell-value {
    font-size: 14px;
    color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px;
    padding: 5px;
  }

  &__price-wraper {
    width: 20%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__price {
    font-size: 24px;
    color: orange;
    border-radius: 200px;
    border: 2px solid orange;
    padding: 30px;
    background-color: #181a1c;
  }

  &__cart-button,
  &__buy-button {
    border: none;
    outline: none;
    font-size: 16px;
    width: 90%;
    height: 40px;
    background: orange;
    color: black;
    border: 2px solid black;
    border-radius: 16px;
    margin: 0px;
  }

	&__cart-button:hover,
  &__buy-button:hover {
		cursor: pointer;
	}
	&__cart-button:active,
  &__buy-button:active {
		cursor: pointer;
		transform: scale(1.02);
	}
}
